/so101_ws/src/*
/so101_ws/log
/so101_ws/build
/so101_ws/install
/soa_ws/
!/so101_ws/src/so101_ros2
/third_party/*
!/third_party/lerobot
/docker/*
/outputs
/calibration
/isaac_so101
/answers
/archive
/huggingface/*
!/huggingface/README.md
CLAUDE.md
.claude
HUMBLE*
JAZZY*
OLD*
WORKING*
working*
BACK*
logs
lab_materials/
docker/