[submodule "third_party/lerobot"]
	path = third_party/lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "ros2_ws"]
	path = ros2_ws
	url = https://github.com/GIXLabs/techin517_ros2_ws.git
